// à personnaliser !!!

$link-color: #990000;
$link-hover-color: darkgoldenrod;
$primary-color: darkgoldenrod;
$secondary-color: #FFD54F;
$tertiary-color: #2E2E2E;
$warning-color: #E64A19;

$info-color: #B2DFDB;
