$link-color: darkgoldenrod;
$link-hover-color: #990000;
$primary-color: darkgoldenrod;
$secondary-color: darkgoldenrod;
$tertiary-color: whitesmoke;
$warning-color: #990000;
$info-color: darkgoldenrod;
