<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="{{ path('contact_new') }}" title="Nous contacter">
                    contact
                </a>
            </div>
            <div class="col">
                <a href="#" title="Wild Circus sur Facebook">
                    facebook
                </a>
            </div>
            <div class="col">
                <a href="#">
                    mentions légales
                </a>
            </div>
        </div>
    </div>
    <p>Footer</p>
</div>
